@charset "UTF-8";

body {
    min-width: 1050px;
    margin-top: 50px;
    margin-bottom: 60px;
    background-color: rgb(255, 255, 255);
}

div{  
   	padding-bottom: 10px;	
}

.loginok {
	text-align: center;
}

.loginDiv{
	padding-top: 150px;
	font-weight: 800;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
}
   
.loginDivForm{    	   	
    width: 340px;
    margin: 0 auto;
    letter-spacing: -0.6px;
}

.searchDivForm{
	width: 340px;
    letter-spacing: -0.6px;
}
   
form {			  	 
       
}


   
input {   
   	height: 54px;       	
    position: relative;
    height: 48px;  
   	width: 100%;
    height: 46px;
    padding: 0 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    outline: none;
    box-sizing: border-box;
}
   
.idpw{
   	display: flex;
   	font-size: 13px;
   	justify-content: flex-end;
}
   
.spanBorder{
   	width: 1px;
    height: 10px;
    margin: 0 6px 2px 4px;
}
   
.button{
   	font-weight: 800;
   	font-size: 16px;
   	margin-bottom: 10px;
   	text-decoration: none;
   	cursor: pointer;
}
   
.bt1{
   	display: block;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 54px;
    border-radius: 3px;
    color: #fff;
    background-color: #2EA26B;
    border: 0 none;
    cursor: pointer;
}

.bt2{
	display: block;
	padding: 0 10px;
	text-align: center;
	overflow: hidden;
	width: 100%;
	height: 54px;
	border-radius: 3px;
	color: #2EA26B;
	background-color: #fff;
	border: 1px solid #2EA26B;
	cursor: pointer;
}

.bt3{
	padding: 0 10px;
	text-align: center;
	overflow: hidden;
	width: 49%;
	height: 40px;
	border-radius: 3px;
	color: #2EA26B;
	background-color: #fff;
	border: 1px solid #2EA26B;
	cursor: pointer;
}

.bt4{
   display: block;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    height: 35px;
    width: 100%;
    border-radius: 3px;
    color: #fff;
    background-color: #2EA26B;
    border: 0 none;
    cursor: pointer;
}

.searchdeco{
	text-decoration: none;
}

.search-header{
	margin-left:100px;
}

.idproc-size{
	margin-left:10px;
}