@charset "UTF-8";

.search_head {
	font: bold 1.3rem TmonMonsori;
	/* 	color : #234884; */
	color: black;
}

.search_sub {
	font: bold 1.3rem TmonMonsori;
	padding-left: 10px;
	padding-right: 10px
}

/* 검색창 테두리 */
.search_form {
	padding: 20px;
	border: 2px solid #96C9B7;
}

/* 프로그래스 바  */
progress {
	-webkit-appearance: none;
}

::-webkit-progress-bar {
	border-radius: 9px;
	background-color: #BDDAC9;
}

::-webkit-progress-value {
	border-radius: 9px;
	background-color: #2EA26B;
}

/* 여행지 이름에 마우스 over */
h2#dest_select:hover {
	color: #3e64ff;
	cursor: pointer;
}

#dest_select:hover {
	color: #3e64ff;
	cursor: pointer;
}

#dest_select {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.5;
	color: black;
}

#dest_img {
	margin-right: 20px;
	position: relative;
}

/* 여행지 국가 배지 */
.rgyBadge {
	display: inline-block;
	padding: 2px 5px;
	border-radius: 13px;
	color: #000;
	vertical-align: middle;
	font-weight: bold;
	font-size: 1.1rem; /* 배지 폰트 크기 */
	background-color: #F2CB61; /* 배지 색상 */
}

/* 글자 그림자 효과 */
.heading {
	text-shadow: 2px 3px 0 #96C9B7;
	font-weight: 800;
	font-size: 30px;
	margin-bottom: 30px;
	color: #000000;
}

/* view페이지 label */
.view_lable {
	font-weight: 800;
	font-size: 30px;
	margin-bottom: 30px;
	color: #000000;
}

.deep_hr {
	opacity: 1;
}

/* 툴팁:임시 */
.tooltip_custom {
	font-size: 1.2rem;
	position: relative;
	display: inline-block;
	background-color: gray;
	border-radius: 15px;
	padding-right: 10px;
	padding-left: 10px;
	color: white;
}

.tooltip_custom  .tooltip-content_custom {
	font-size: 0.9rem;
	visibility: hidden;
	width: 450px;
	background-color: #237BFB;
	padding: 0;
	color: white;
	text-align: center;
	position: absolute;
	z-index: 1;
	border-radius: 9px;
	margin-left: 20px;
	/* 	margin-top: 10px; */
}

.tooltip_custom:hover .tooltip-content_custom {
	visibility: visible;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

/* DetailView의 좋아요 버튼의 레이아웃을 inline-block으로 */
#likebtn {
	display: inline-block;
}

/* 하트찜 이미지 */
.icon2 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100vw * ( 45/ 1920));
	height: calc(100vw * ( 45/ 1920));
	border-radius: 50%;
	border: solid 2px #eaeaea;
	background-color: #fff;
}

.icon2.heart img, .icon2.heart2 img {
	width: calc(100vw * ( 24/ 1920));
	height: calc(100vw * ( 24/ 1920));
}

.heart {
	transform-origin: center;
	background-color: rgba(255, 255, 255, 0.8);
	position: absolute;
	top: 15px;
	left: 32px;
	border-radius: 15px;
}

.heart2 {
	transform-origin: center;
	background-color: rgba(255, 255, 255, 0.8);
}

/* 하트찜 애니메이션 */
.heart.active img, .heart2.active img {
	animation: animateHeart .3s linear forwards;
}

@
keyframes animateHeart { 0%{
	transform: scale(.2);
}

40
%
{
transform
:
scale(
1.2
);
}
100
%
{
transform
:
scale(
1
);
}
}
.icon2.heart.fas, .icon2.heart2.fas {
	color: red
}

/* 컨텐츠 미리보기 글자 회색 */
#content_preview, .dest_content {
	color: #999999;
}

/* 비용 경치 재미 글자 */
.position {
	font-size: 18px;
	font-weight: 700;
	color: #000000;
}

/* 상세페이지 여행지 이미지 */
#detail_img {
	width: 18rem;
	margin-right: 1rem;
}

/* 추천페이지 여행지 이미지 */
#recommand_img {
	width: 24rem;
	margin-right: 1rem;
}

button, input {
	font-size: 1.0rem;
	font-weight: 600;
}

.content-container {
	margin: 10px;
}

.detail-label {
	font-weight: 800;
	font-size: 20px;
}

.listbtn {
	border: solid 2px #2EA26B;
	color: #2EA26B;
	background-color: white;
	border-radius: 4px;
	font-size: 1rem;
}

.listbtn:hover {
	border: solid 2px #2EA26B;
	color: white;
	background-color: #2EA26B;
	border-radius: 4px;
	font-size: 1rem;
}

/* 안내 메시지 색상 변경  */
.msg {
	color: #8C8C8C;
	font-weight: 700;
}

.msgbtn {
	border: solid 2px #8C8C8C;
	color: #8C8C8C;
	background-color: #ffffff;
	border-radius: 6px;
	font-size: 1rem;
	padding:10px;
	cursor: pointer;
}

.msgbtn:hover {
	border: solid 2px #8C8C8C;
	color: #ffffff;
	background-color: #8C8C8C;
}

/* .img-thumbnail { */
/*     padding: 0.25rem; */
/*     background-color: #fff; */
/*     border: 1px solid #dee2e6; */
/*     border-radius: 0.25rem; */
/*     max-width: 100%; */
/*     height: auto; */
/* } */