@charset "EUC-KR";

body, html {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(to right, #eec5c9, #8fa5d0);
	overflow: auto;
}

.header {
	padding-top: 25px;
	width: 100%;
	margin: 0 auto;
	height: 100px;
	display: inline-block;
}

.htitlebox {
	position: relative;
	height: 85px;
	width: 85px;
	border: solid 2px #ffffff;
	margin-left: 7.5%;
}

.htitletxt {
	padding-top: 8px;
	max-width: 85px;
	height: 85px;
	position: relative;
	font-size: 16px;
	text-align: center;
	color: #ffffff;
	font-weight: 400;
	font-family: 'Noto Sans CJK KR Regular';
}

.textdeco{
	text-decoration: none;
}

h1 {
	margin-top: 150px;
}

td {
	padding: 10px;
}

.inputdeco {
	background: none;
	border-right: none;
	border-top: none;
	border-left: none;
	width : 200px;
}

.loginbtn{
	background
}

.btn.btn-sunflower {
	padding : 10px;
	border-radius: 5px;
	background: none;
	border: solid #ffffff;
}

.btn.btn-sunflower:hover {
	background-color: #e3ba02;
}

.btn.btn-sunflower:active {
	top: 1px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn {
	font-size: 14px;
	white-space: nowrap;
	width: 100%;
	padding: 7px 0;
	font-family: "Noto Sans CJK KR Medium";
	line-height: 18px;
	display: inline-block;
	zoom: 1;
	color: #fff;
	text-align: center;
	position: relative;
	-webkit-transition: border .25s linear, color .25s linear,
		background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s
		linear;
	text-decoration: none;
	margin-left : 10px;
}
