body, html {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(to right, #eec5c9, #8fa5d0);
	overflow: auto;
}

.header {
	padding-top: 25px;
	width: 100%;
	margin: 0 auto;
	height: 100px;
	display: inline-block;
}

.htitlebox {
	position: relative;
	height: 85px;
	width: 85px;
	border: solid 2px #ffffff;
	margin-left: 7.5%;
}

.htitletxt {
	padding-top: 15px;
	max-width: 85px;
	height: 85px;
	position: relative;
	font-size: 16px;
	text-align: center;
	color:  #ffffff;
	font-weight: 400;
	font-family: 'Noto Sans CJK KR Regular';
}

.inputdeco {
	background: none;
	border-right: none;
	border-top: none;
	border-left: none;
	border-bottom: 1.5px solid #D1B2FF;

}


.textdeco{
	text-decoration: none;
}


.top-right {
	position: absolute;
	display: inline-flex;
	right: 7.5%;
	top: 77px;
	overflow: hidden;
	visibility: inherit;
}


.button {
	width: 320px;
	position: absolute;
	top: 80%;
}

.logout {
	margin: 0 auto;
	width: 250px;
	z-index: 4000;
}

.log.btn-logout {
	border-radius: 5px;
	background: linear-gradient(to right, #eec5c9, #8fa5d0);
}

.log.btn-logout:hover {
	background-color: #e3ba02;
}

.log.btn-logout:active {
	top: 1px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.log {
	font-size: 14px;
	white-space: nowrap;
	width: 100%;
	padding: 14px 0;
	font-family: "Noto Sans CJK KR Medium";
	line-height: 18px;
	display: inline-block;
	zoom: 1;
	color: #fff;
	text-align: center;
	position: relative;
	-webkit-transition: border .25s linear, color .25s linear,
		background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s
		linear;
	text-decoration: none;
}

.sideimg {
	position: absolute;
	z-index: 30;
	backface-visibility: hidden;
}

.login_row {
	width: 80px;
	margin-right: 30px;
}

.menu {
	padding-top: 13px;
}


.btn_log {
	font-size: 14px;
	white-space: nowrap;
	width: 100%;
	padding: 7px 0;
	font-family: "Noto Sans CJK KR Medium";
	line-height: 18px;
	display: inline-block;
	zoom: 1;
	color:  #fff;
	text-align: center;
	position: relative;
	-webkit-transition: border .25s linear, color .25s linear,
		background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s
		linear;
	text-decoration: none;
}



.btn_log.btn-sunflower {
	border-radius: 5px;
	background: none;
	border: solid #ffffff;
}

.btn_log.btn-sunflower:hover {
	background-color: #e3ba02;
}

.btn_log.btn-sunflower:active {
	top: 1px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.sidebar-inner {
	height: -webkit-fill-available;
	width: 2560px;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 999;
	display: block;
	overflow: auto;
	overflow-x: hidden;
}

.inner-cover {
	width: 320px;
	height: 100%;
	background: #ffffff;
	z-index: 3000;
	position: absolute;
	right: 0;
	overflow: auto;
	overflow-x: hidden;
}

#sidebar .inner-cover {
	float: right;
	font-size: 14px;
	z-index: 100;
	-webkit-transform: translate3d(100%, 0, 0);
	-moz-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

html.open #sidebar .inner-cover {
	float: right;
	overflow-y: auto;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

#sidebar {
	margin-top: -125px;
	float: right;
	font-size: 14px;
	z-index: 100;
	-webkit-transform: translate3d(100%, 0, 0);
	-moz-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

html.open #sidebar {
	float: right;
	overflow-y: auto;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

#sidebar-close {
	display: block;
	position: fixed;
	right: 320px;
	top: 0px;
	width: 2240px;
	height: 1450px;
	z-index: 101;
}

.doginfotable>p{
	font-size :  30px;
}

table> tr >td{
	width : 80;
	font-size : 15px;
}



.btn_edit {
	font-size: 20px;
	white-space: nowrap;
	width: 100%;
	padding: 7px 0;
	font-family: "Noto Sans CJK KR Medium";
	line-height: 18px;
	display: inline-block;
	zoom: 1;
	color:  #000;
	text-align: center;
	position: relative;
	-webkit-transition: border .25s linear, color .25s linear,
		background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s
		linear;
	text-decoration: none;
}

.btn_edit.btn-sunflower {
	border-radius: 5px;
	background: none;
	border: solid #ffffff;
}


.btn_edit.btn-sunflower:hover {
	background-color: #e3ba02;
}

.btn_edit.btn-sunflower:active {
	top: 1px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}


.container {
	position: absolute;
	right: 7.5%; /*스크롤 내릴 때 흰색 창 위치*/

}


#userid{
	margin:10px 0 0 0;
	font-size : 18px;
}
